<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Carrinho de Compras</title>
    </h:head>
    <h:body>
        <h:form>
            <h:outputLabel value="Descrição:"></h:outputLabel>
            <h:inputText value="#{Produto.produto.descricao}" ></h:inputText>

            <h:outputLabel value="Preço:"></h:outputLabel>
            <h:inputText value="#{Produto.produto.preco}" ></h:inputText>
            
            <h:commandButton action="#{Produto.addProduto()}" value="Adicionar Produto"></h:commandButton>
            <h:commandButton value="Voltar" action="index.jsp"></h:commandButton>

        </h:form>

    </h:body>
</html>

