<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <h:form>
            <label for="produto">Produto:</label>
            <h:selectOneMenu id="produto" value="#{Carrinho.produto}" immediate="true" converter="produtoConverter">
                <f:selectItem itemLabel="--Selecione--" noSelectionOption="true" />
                <f:selectItems value="#{Produto.listaProdutos()}" />
            </h:selectOneMenu> 

            <h:dataTable value="#{Carrinho.produtos}" var="pro" border="2">
                <h:column id="column1">
                    <f:facet name="header">
                        <h:outputText value="Produto" />                   
                    </f:facet>
                    <h:outputText value="#{pro.descricao}" />
                </h:column>
                <h:column id="column2">
                    <f:facet name="header">
                        <h:outputText value="Remover" />                   
                    </f:facet>
                    <h:commandButton value="Remover" action="#{Carrinho.remover(pro)}"/>
                </h:column>

            </h:dataTable>

            <h:commandButton action="#{Carrinho.addProdCarrinho()}" value="Add Produto"></h:commandButton>
            <h:commandButton action="#{Carrinho.finalizarPedido()}" value="Finalizar Pedido"></h:commandButton>
            <h:commandButton value="Voltar" action="index.jsp"></h:commandButton>

        </h:form>

    </h:body>
</html>

